<template>
    <div class="row pos-r" style="margin: 20px">

        <e-divider><h2>Buttons</h2></e-divider>

        <div class="row pos-r">
            <e-button type="default" size="lg" disabled>Oh Hi, Folks!</e-button>
            <e-button type="primary" size="sm">Oh Hi, Folks!</e-button>
            <e-button type="success" size="xs">Oh Hi, Folks!</e-button>
            <e-button type="info">Oh Hi, Folks!</e-button>
            <e-button type="warning" loading>Oh Hi, Folks!</e-button>
            <e-button type="danger">Oh Hi, Folks!</e-button>
            <e-button type="outline-danger" disabled>Oh Hi, Folks!</e-button>
            <e-button type="outline-warning">Oh Hi, Folks!</e-button>
            <e-button type="outline-info">Oh Hi, Folks!</e-button>
            <e-button type="outline-success" loading>Oh Hi, Folks!</e-button>
            <e-button type="outline-primary">Oh Hi, Folks!</e-button>
            <e-button type="outline-default">Oh Hi, Folks!</e-button>
        </div>

        <e-divider><h2>Buttons with icons</h2></e-divider>

        <div class="row pos-r">
            <e-button
                type="danger"
                icon="download"
                iconSize="lg">
              Download ZIP
            </e-button>

            <e-button
                type="danger"
                arrowText="2.1m"
                arrowPosition="left"
                arrowType="outline-danger">
              Like
            </e-button>

            <e-button
                arrowText="2.1m"
                arrowPosition="right"
                arrowType="outline-danger">
              Like
            </e-button>

            <e-button
                icon="shopping-cart"
                iconPosition="right">
                Add to cart
            </e-button>
        </div>

        <e-divider><h2>Dividers</h2></e-divider>

        <div class="column">
            <e-button>Hellooooooooooooooo</e-button>
            <e-divider>AND</e-divider>
            <e-button>woooooooooooooorld!</e-button>
        </div>

        <e-divider></e-divider>

        <div class="row pos-r">
            <div class="col-sm-6">
                <e-button>Hellooooooooooooooo</e-button>
                <e-button>Hellooooooooooooooo</e-button>
                <e-button>Hellooooooooooooooo</e-button>
                <e-button>Hellooooooooooooooo</e-button>
                <e-button>Hellooooooooooooooo</e-button>
            </div>

            <e-divider direction="vertical">Or</e-divider>

            <div class="col-sm-6">
                <e-button>woooooooooooooorld!</e-button>
                <e-button>woooooooooooooorld!</e-button>
                <e-button>woooooooooooooorld!</e-button>
                <e-button>woooooooooooooorld!</e-button>
                <e-button>woooooooooooooorld!</e-button>
            </div>
        </div>

        <e-divider><h2>Form controls</h2></e-divider>

        <div class="row col-sm-6">
            <form class="form">
                <e-input type="text" label="Hello world"></e-input>

                <e-input type="text" placeholder="With placeholder"></e-input>

                <e-input type="password" placeholder="Passowrd"></e-input>

                <e-input type="text" value="Readonly" readonly></e-input>

                <e-input type="text" size="lg" placeholder="Large"></e-input>
                <e-input type="text" placeholder="Medium"></e-input>
                <e-input type="text" size="sm" placeholder="Small"></e-input>

                <e-input type="text" has="success"></e-input>
                <e-input type="text" has="warning"></e-input>
                <e-input type="text" has="error"></e-input>
                <e-input type="text" has="error">
                    <p class="help-block" slot="help-block">
                        Password is too short and needs at least one number.
                    </p>
                </e-input>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'hello',
    data() {
        return {
            msg: 'Welcome to Your Vue.js App',
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .column {
        display: flex;
        flex-direction: column;
    }
</style>
